.App {
  text-align: center;
}
.App {
  text-align: center;
}

.match {
  display: flex;
  flex-direction: column;
}

.up {
  width: 20vw;
  height: 20vh;
  /* background-image: url("./img/v.png"); */

  border: 0.1em solid #999;
}

.down {
  width: 20vw;
  height: 20vh;
  /* background-image: url("./img/x.png"); */
  border: 0.1em solid #999;
}

.dislike {
  width: 20vw;
  height: 20vh;
  /* background-image: url("./img/dislike.png"); */
  border: 0.1em solid #999;
}

.like {
  width: 20vw;
  height: 20vh;
  /* background-image: url("./img/like.png") cover no-repeat; */
  border: 0.1em solid #999;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Button {
  padding: 2%;
}
